.combo{

    width: 100%;
    display: flex;
  justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    /* margin-top: 20px; */
    

}
.combo1{
    width: 100%;
    display: flex;
  justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.price{

    margin-left: 100px;

}

input{
    margin-left: 30px;
    background-color: #1c1c1e;
    border: none;
        border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    /* width: 100%;  */
    height: 40px;
    outline: none;
    padding: 0;
    /* margin: 0; */
    font-weight: bold;

}

#upload{
 
    border:none;

}

#mint{

    width:  100%;
    height: 100%;
   
    border: none;
}

#pi{
    width:200px;
    height:200px;
    border: 1px solid #fff;
   
    margin-left: 50px;
    margin-top: 20px;
}

